<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Beer Festival Buddy" %></title>

    <%- ogp_tags do |name, value| %>
      <meta property="<%= name %>" content="<%= value %>" />
    <% end %>

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Patua+One" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
  </head>

  <body class="<%= page_classes %>">
    <header>
      <div class="wrap">
        <a href="#" class="logo">Beer Festival Buddy</a>
      </div>
    </header>
    <%= yield %>
    <footer>
      <div class="wrap">
        <div class="copyright">Beer Festival Buddy &copy; <%= Date.today.year %></div>
        <div class="footer-links">
          <a href="https://www.facebook.com/BeerFestivalBuddy">Facebook</a>
          <a href="https://twitter.com/BeerFestBuddy">Twitter</a>
        </div>
      </div>
    </footer>
    <!-- Start of Async Prefinery Code -->
    <script type="text/javascript">var _pfy = _pfy || [];(function(){function pfy_load(){var pfys=document.createElement('script');pfys.type='text/javascript';pfys.async=true;pfys.src='https://widget.prefinery.com/widget/v2/l2m94qxj.js';var pfy=document.getElementsByTagName('script')[0];pfy.parentNode.insertBefore(pfys,pfy);}if (window.attachEvent){window.attachEvent('onload',pfy_load);}else{window.addEventListener('load',pfy_load,false);}})();</script>
    <!-- Drip -->
    <script type="text/javascript">
      var _dcq = _dcq || [];
      var _dcs = _dcs || {};
      _dcs.account = '7189692';

      (function() {
        var dc = document.createElement('script');
        dc.type = 'text/javascript'; dc.async = true;
        dc.src = '//tag.getdrip.com/7189692.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(dc, s);
      })();
    </script>
    <!-- End of Async Prefinery Code -->
    <% if build? %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-88400608-1', 'auto');
        ga('send', 'pageview');

      </script>
    <% end %>
  </body>
</html>
